In [2]:
import pandas as pd

In [3]:
base = pd.read_csv('Raw-Data.csv')

In [4]:
base.head()

,Country,Age,Gender,Symptoms,Experiencing_Symptoms,Severity,Contact
0,China,0-9,Male,"Fever,Tiredness,Dry-Cough,Difficulty-in-Breath...","Pains,Nasal-Congestion,Runny-Nose,Diarrhea",Mild,Yes
1,Italy,10-19,Female,"Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing","Pains,Nasal-Congestion,Runny-Nose",Moderate,No
2,Iran,20-24,Transgender,"Fever,Tiredness,Dry-Cough","Pains,Nasal-Congestion",Severe,Dont-Know
3,Republic of Korean,25-59,NaN,"Fever,Tiredness",Pains,None,NaN
4,France,60+,NaN,Fever,"Nasal-Congestion,Runny-Nose,Diarrhea",NaN,NaN

In [5]:
base_cleaned = pd.read_csv('Cleaned-Data.csv')

In [6]:
base_cleaned.head()

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Gender_Male,Gender_Transgender,Severity_Mild,Severity_Moderate,Severity_None,Severity_Severe,Contact_Dont-Know,Contact_No,Contact_Yes,Country
0,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,1,China
1,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,1,0,China
2,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,1,0,0,China
3,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,0,1,China
4,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,1,0,China

In [7]:
print(base.shape, base_cleaned.shape)

(16, 7) (316800, 27)

In [15]:
import numpy as np
pd.DataFrame(np.unique(base_cleaned.Country, return_counts=True))

,0,1,2,3,4,5,6,7,8,9
0,China,France,Germany,Iran,Italy,Other,Other-EUR,Republic of Korean,Spain,UAE
1,31680,31680,31680,31680,31680,31680,31680,31680,31680,31680

In [ ]:
# UNir os dados de serveridade para poder usar como classificador.

In [55]:
join_columns = ['Severity_Severe', 'Severity_Moderate', 'Severity_Mild' ,'Severity_None']

# Join columns to use classifier
def join_dummies(df, columns, new_column_name='Join_columns'):
    join_columns = df[columns]
    new_df = []
    for i in range(len(join_columns)):
        ind = join_columns.iloc[i].idxmax()
        new_df.append(ind)

    df[new_column_name] = new_df

join_dummies(base_cleaned, join_columns, new_column_name='Severity')

In [53]:
# Testar se todos so possuem um mesmo (Medo dos dados terem problemas)
df = base_cleaned[join_columns]
for i in range(len(base_cleaned)):
    s = df.iloc[i].sum()
    if s != 1:
        print(df.iloc[i])

In [50]:
len(base_cleaned)
print(join_columns)
base_cleaned[join_columns].iloc[1].idxmax()

['Severity_Severe', 'Severity_Moderate', 'Severity_Mild', 'Severity_None']

'Severity_Mild'